In [7]:
import pandas as pd

from vaa import VAA
from fixed_allocations import SPY

In [8]:
vaa = VAA()
spy = SPY()

In [9]:
strategies = {'VAA': {'CAGR': vaa.cagr(), 'MDD': vaa.mdd()},
             'SPY': {'CAGR': spy.cagr(), 'MDD': spy.mdd()}}

In [10]:
cum_returns = {'VAA': vaa.port_cum_returns, 
              'SPY': spy.port_cum_returns}

In [12]:
df_cum_returns = pd.DataFrame(cum_returns)
df_cum_returns.dropna(inplace=True)
df_cum_returns

                 VAA        SPY
2008-10-31  1.000000   1.997012
2008-12-31  0.980311   1.759779
2009-03-31  0.980311   1.934606
2009-04-30  0.980311   2.034855
2009-06-30  0.980311   2.186667
...              ...        ...
2021-06-30  1.843084   9.993029
2021-08-31  1.751575   9.496874
2021-09-30  1.751575  10.081549
2021-11-30  1.751575  10.510871
2021-12-31  1.751575   9.956515

[110 rows x 2 columns]