# Vigilant Asset Allocation (VAA)

Vigilant Asset Allocation (VAA) is introduced by Wouter J. Keller and Jan Willem Keuning in research paper "Breadth Momentum and Vigilant Asset Allocation (VAA): Winning More by Losing Less" (https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3002624)

In [2]:
import pandas as pd
import src.fmp as fmp

## Portfolio Assets

In [3]:
offensive = ['SPY', 'VEA', 'VWO', 'AGG']
defensive = ['SHY', 'IEF', 'LQD']

## Upgrade version of dual momentum

1. We buy the strongest asset in terms of momentum in offensive assets.
2. If the most recent return of any of the offensive assets is negative, we go to defensive asset.

## How to compute recent returns and weights

recent_return = 12 * (recent 1M return) + 4 * (recent 4M return) + 2 * (recent 6M return) + 1 * (recent 12M return)

In [7]:
offensive_prices = pd.DataFrame()

for symbol in offensive:
    data = fmp.get_daily_prices(symbol)
    offensive_prices[symbol] = data['Close']

offensive_prices

                   SPY        VEA        VWO         AGG
Date
2016-09-23  215.990005  37.439999  37.689999  112.230003
2016-09-26  214.240005  37.110001  37.230000  112.370003
2016-09-27  215.570007  37.290001  37.619999  112.510002
2016-09-28  216.639999  37.619999  37.990002  112.540001
2016-09-29  214.679993  37.160000  37.360001  112.540001
...                ...        ...        ...         ...
2021-09-16  447.170000  52.930000  51.650000  115.970000
2021-09-17  441.400000  52.270000  51.450000  115.870000
2021-09-20  434.040000  51.080000  49.590000  116.090000
2021-09-21  433.630000  51.520000  49.990000  116.140000
2021-09-22  437.860000  51.800000  50.710000  116.180000

[1258 rows x 4 columns]

In [8]:

mom = {'1M': [], '3M': [], '6M': [], '12M': []}

for symbol in offensive:
    mom['1M'].append(fmp.calculate_hist_momentum(symbol,30))
    mom['3M'].append(fmp.calculate_hist_momentum(symbol,90))
    mom['6M'].append(fmp.calculate_hist_momentum(symbol,180))
    mom['12M'].append(fmp.calculate_hist_momentum(symbol,252))

mom

{'1M': [-0.013339943215106493,
  -0.016891250711710014,
  -0.02160910669496426,
  0.005539207200969366],
 '3M': [0.05376398630969352,
  0.007194244604316497,
  -0.02160910669496426,
  0.017338030227794232],
 '6M': [0.1721590525121367,
  0.06716108225873338,
  -0.006076048608388911,
  -0.009885768191094811],
 '12M': [0.3571162275082339,
  0.2850409008920639,
  0.19938508040172861,
  -0.016090802572987648]}

In [11]:
offensive_momentums = pd.DataFrame(mom, index=offensive)
offensive_momentums

           1M        3M        6M       12M
SPY -0.013340  0.053764  0.172159  0.357116
VEA -0.016891  0.007194  0.067161  0.285041
VWO -0.021609 -0.021609 -0.006076  0.199385
AGG  0.005539  0.017338 -0.009886 -0.016091